{% extends 'index.html' %}
{% load static %}

{% block page %}

<section id="blog" class="blog_area section-padding">
    <div class="container">
        <div class="row">

            {% for post in blogs %}

            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="single_blog">

                    <img src="{{ post.image.url }}" class="img-fluid" alt="image">

                    <div class="content_box">

                        <span>
                            {{ post.created_at|date:"d M Y" }}
                            |
                            <a href="#">
                                {{ post.category.name }}
                            </a>
                        </span>

                        <h2>
                            <a href="{% url 'blog_single' post.id %}">
                                {{ post.title }}
                            </a>
                        </h2>

                        <a class="btn_one"
                           href="{% url 'blog_single' post.id %}">
                            Read More
                            <i class="ti-arrow-top-right"></i>
                        </a>

                    </div>

                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}